@mixin section-ttl {
  .section__ttl {
    text-align: center;
    h2 {
      margin-top: 20px;
      font-size: 36px;
    }
  }
}

// @mixin btnSe {
  // display: inline-block;
  // max-width: 100%;
  // padding: 18px 37px;
  // padding: 10px 20px;
  // font-size: 1rem;
// }

@mixin btnSet {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  padding: 20px 20px;
  font-size: 1rem;
  text-align: center;
}