@mixin section-ttl {
  .section__ttl {
    text-align: center;
    h2 {
      margin-top: 20px;
      font-size: 36px;
    }
  }
}

@mixin btnSet {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  padding: 20px 20px;
  font-size: 1rem;
  text-align: center;
}

@mixin hamburgerMenu {
  display: none;
  @include media(s) {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    span {
      display: inline-block;
      position: absolute;
      transition: all .4s;
      left: 13px;
      height: 3px;
      border-radius: 2px;
      background: #fff;
      width: 25px;
      &:nth-of-type(1) {
        top: 15px; 
      }
      &:nth-of-type(2) {
        top: 23px;
      }
      &:nth-of-type(3) {
        top: 32px;
      }
    }
    &__active span:nth-of-type(1) {
      top: 18px;
      left: 12px;
      transform: translateY(6px) rotate(-45deg);
      width: 26px;
    }
    &__active span:nth-of-type(2) {
      opacity: 0; //消す
    }
    &__active span:nth-of-type(3){
      top: 30px;
      left: 12px;
      transform: translateY(-6px) rotate(45deg);
      width: 26px;
    }
  }
}

