@import "_mixin";

// ============================================
// ベース
// ============================================
body {
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
  color: #000;
  background:#FFF;
}

ul {
  list-style: none;
}

a {
	text-decoration: none;
  color: #000;
}
a:hover {
  opacity: 0.6;
  transition: 0.5s;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}


// モジュール
.top-bg {
  background-image: url(../images/mainbg01.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.room-bg {
  background-image: url(../images/oheya-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.menu-bg {
  background-image: url(../images/menu-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.spa-bg {
  background-image: url(../images/onsen-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.av180 {
  letter-spacing: 0.18em;
}
.ml6 {
  margin-left: 6px;
}
.ml1 {
  margin-left: 1px;
}
.ml2 {
  margin-left: 2px;
}

.active {
  display: block;
}

// ========================================================================
// 変数
// ========================================================================
$font-Color: #000;


// ============================================
// メディアクエリ
// ============================================
$breakpoints: (
  l: "screen and (max-width: 1600px)", //PC
  m: "screen and (max-width: 1280px)", //タブレット
  s: "screen and (max-width: 599px)",  //スマートフォン
);
@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}



// 表示崩れ見るため
* {
  outline: 2px solid blue;
}



// ヘッダー
.header {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  &__inner {
    max-width: 1920px;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }
  &__logo {
    display: flex;
    align-items: center;
    h1 {
      font-size: 32px;
      margin-left: 15px;
      color: #FFF;
    }
  }

  &__nav {
    display: flex;
    margin-left: 120px;
    &__item {
      display: flex;
      li > a {
        color: #fff;
      }
    }
    &:nth-child(2) li {
      margin-right: 30px;
    }
  }

  .hamburger {
    @include hamburgerMenu;
  }

  .btn-modal {
    margin-left: auto;
    color: #fff;
    background: #978F10;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 19px;
    padding-bottom: 19px;
    p {
      margin-left: 10px;
    }
  }

  @include media(m) {
    &__inner {
      height: 60px;
    }
    &__logo h1 {
      font-size: 28px;
      margin-left: 10px;      
    }
    &__nav {
      margin-left: 50px;
      &:nth-child(2) li {
        margin-right: 15px;
      }
    }
    .btn-modal {
      width: 150px;
      padding-top: 12px;
      padding-bottom: 12px;
      p {
        margin-left: 10px;
      }
    }
  }
  @include media(s) {
    img {
      width: 20px;
    }
    &__logo h1 {
      font-size: 22px;
      margin-left: 5px;      
    }
    .header__nav {
      display: none;
    }
    .btn-modal {
      width: 120px;
      padding-top: 10px;
      padding-bottom: 10px;
      p {
        margin-left: 5px;
      }
    }
  }
}
// ヘッダー


// モーダル
.modal {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #707070;
  z-index: 1000;
  &__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-top: 3px;
  }
  &__contact {
    position: relative;
    width: 550px;
    height: 600px;
    background-color: #fff;
    border: 1px solid #707070;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__close::before , &__close::after {
      content: "";
      position: absolute;
      top: 22px;
      right: 20px;
      width: 3px;
      height: 25.5px;
      background-color: #000;
      cursor: pointer;
    }
    &__close::before {
      transform: translate(-50%,-50%) rotate(45deg);
    } 
    &__close::after {
      transform: translate(-50%,-50%) rotate(-45deg);
    }

    &__heading {
      margin-top: 29px;
      margin-bottom: 29.5px;
      font-size: 20px;
    }
  }

  .form {
    width: 429px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    border-top: 1px solid #E7E7E7;
    padding-top: 35.5px;
    padding-bottom: 90px;
    input, select {
      box-sizing: border-box;
      color: #797878;
      padding-left: 10px;
      height: 32px;
      width: 100%;
      border: 1px solid #E7E7E7;
    }
    &__name, &__mail, &__plan, &__date {
      margin-bottom: 14px;
      h3 {
        margin-bottom: 14px;
      }
    }
    input[type="submit"] {
      margin-top: 50px;
      width: 198px;
      height: 42px;
      border: 1px solid #707070;
      font-size: 16px;
      color: #000;
      background-color: #fff;
      display: block;
      margin-right: auto;
      margin-left: auto;      
    }

  }
}
// モーダル


// メインビジュアル
.mv {
  max-height: 1079px;
  &__text {
    color: #fff;
    writing-mode: vertical-rl;
    font-size: 32px;
    letter-spacing: 8px;
    position: absolute;
    top: 362px;
    right: 508px;
    z-index: 10;
    .mv__heading {
      margin-left: 50px;
    }
    @include media(m) {
      top: 250px;
      right: 200px;
      font-size: 28px;
    }
    @include media(s) {
      top: 100px;
      right: 70px;
      font-size: 24px;
      .mv__heading {
        margin-left: 20px;
      }
    }
  }
}

// swiper
@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img{
  animation: zoomUp 10s linear 0s 1 normal both;  
}
.swiper {
  width: 100%;
  max-width: 1920px;
  height: 1079px;
  &-slide {
    width: 100%;
    max-width: auto;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    display: block;
  }
  @include media(m) {
    height: 800px;
    img {
      height: 900px;
      object-fit: cover;
    }
  }
  @include media(s) {
    height: 400px;
    img {
      height: 500px;
      object-fit: cover;
    }
  }
}
// swiper
// メインビジュアル


// アバウト
.about-us {
  padding-top: 64px;
  background-image: url(../images/bg.png);
  height: 681px;
  box-sizing: border-box;
  padding-left: 43px;
  &__inner {
    max-width: 1180px;
    margin-right: auto;
    margin-left: auto;
    writing-mode: vertical-rl;
  }
  &__heading {
    font-size: 28px;
    letter-spacing: 14px;
    h2:nth-child(2) {
      margin-top: 85px;
      margin-right: 33px;
    }
  }

  &__text {
    margin-top: 85px;
    margin-right: 118px;
    margin-left: 118px;
    letter-spacing: 6px;
    text-orientation: upright;
    &>p:nth-child(2) {
      margin-right: 22px;
      margin-left: 22px;
    }
  }
  &__site-ttl {
    margin-top: 379px;
    font-size: 22px;
    letter-spacing: 10px;
  }

  @include media(m) {
    padding-top: 50px;
    max-height: 100%;
    &__inner {
      max-width: 600px;
      writing-mode: horizontal-tb;
      h2:nth-child(2) {
        margin-top: 30px;
        margin-right: 0;
      }
    }
    &__text {
      margin-top: 60px;
      margin-left: 80px;
      margin-right: 0;
      line-height: 1.5;
      &>p:nth-child(2) {
        margin-right: 0px;
        margin-left: 0px;
      }
    }
    &__site-ttl {
      margin-top: 90px;
      display: flex;
      justify-content: flex-end;
    }
  }
  @include media(s) {
    padding-top: 20px;
    padding-left: 20px;
    &__inner {
      max-width: 450px;
    }
    &__heading {
      margin-top: 20px;
      letter-spacing: 1px;
      h2:nth-child(2) {
        margin-top: 10px;
      }
    }
    &__text {
      margin-top: 40px;
      margin-left: 20px;
      letter-spacing: 4px;
    }
    &__site-ttl {
      margin-top: 70px;
    }
  }
}
// アバウト


// メディア
.media-contents {
  padding-top: 106px;
  padding-bottom: 78px;
  &__inner {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
  }

  @include media(s) {
    padding-top: 40px;
    padding-bottom: 40px;

  }
}

.media {
  height: 545px;
  display: flex;
  img {
    max-width: 100%;
    object-fit: cover;
  }
  &__body {
    margin-left: 137px;
    margin-right: 10px;
    &__ttl {
      font-size: 36px;
      line-height: 1.7222222;
      margin-top: 32px - 13px;
    }
    &__text {
      font-size: 16px;
      line-height: 2;
      margin-top: 75px - 13px - 8px;
    }
    .btn {
      margin-top: 75px - 8px;
      border: solid 1px #707070;
      width: 200px;
      @include btnSet;
    }
  }

  &:nth-child(2) {
    flex-direction: row-reverse;
    margin-top: 122px;
    margin-bottom: 122px;
    .media__body {
      margin-right: 174px;
      margin-left: 10px;
      .btn {
        margin-top: 43px - 8px;
      }
    }
  }

  @include media(l) {
    img {
      max-width: 65%;
    }
    &__body {
      margin-left: 30px;
    }
    &:nth-child(2) {
      img {
        max-width: 70%;
      }
      .media__body {
        margin-right: 30px;
      }
    }
  }

  @include media(m) {
    height: auto;
    flex-direction: column;
    position: relative;
    img {
      position: relative;
      margin-right: 5px;
      margin-left: 5px;
      max-width: 100%;
      height: 500px;
    }
    .media__body {
      margin-left: 50px;
      position: absolute;
      color: #fff;
      text-shadow: 1px 2px 3px #000;
      .btn {
        margin-top: 50px;
        color: #fff;
        width: 200px;
        border: solid 1px #fff;
      }
    }
    &:nth-child(2) {
      flex-direction: column;
      position: relative;
      img {
        max-width: 100%;
      }
      .media__body {
        margin-right: 0;
        margin-left: 50px;
        position: absolute;
      }
    }
  } 

  @include media(s) {
    .media__body {
      margin-left: 20px;
      &__ttl {
        font-size: 28px;
      }
    }

    &:nth-child(2) {
      margin-top: 30px;
      margin-bottom: 30px;
      .media__body { 
        margin-left: 20px;
      }
    }
  }
}
// メディア


// プラン
.plan {
  padding-top: 60px;
  padding-bottom: 144px - 8px;
  background-image: url(../images/plan-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &__inner {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    @include section-ttl;
  }

  .cards {
    max-width: 1181px;
    margin-top: 66px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;

    .card {
      h3 {
        font-size: 20px;
        line-height: 1.6;
        margin-top: 32px - 6px;
      }
      p {
        font-size: 16px;
        line-height: 2;
        margin-top: 36px - 6px - 8px;
      }
      &:nth-child(1) p {
        margin-left: -3px;
      }
    }
  }
  @include media(m) {
    .cards {
      justify-content: space-around;
      flex-wrap: wrap;
      &__item {
        margin-top: 30px;
      }
    }
  }
  @include media(s) {
    .cards {
      flex-direction: column;
      align-items: center;
    }
  }
}
// プラン


// お知らせ
.news {
  padding-top: 60px;
  padding-bottom: 40px;
  &__inner {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    @include section-ttl;
  }

  &__tab {
    margin-top: 46px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    li {
      cursor: pointer;
      text-align: center;
    }
    li:nth-child(1) {
      width: 69px;
      margin-right: 53px;
    }
  }

  .tab-active {
    border-bottom: 1px solid #000;
  }

  &__contents {
    margin-top: 49px;
    max-width: 1186px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 3px;
    margin-right: auto;
    margin-left: auto;
    &__item {
      width: 570px;
      max-height: 130px;
      box-sizing: border-box;
      background-color: #F6F6F6;
      padding-top: 15px;
      padding-left: 10px;
      padding-bottom: 15px;
      margin-bottom: 20px;
      display: flex;
      img {
        margin-right: 30px;
      }
      p {
        margin-top: 10px;
        font-size: 16px;
        line-height: 2;
      }
    }

    @include media(m) {
      padding-left: 0;
      justify-content: center;
      &__item {
        margin-right: 10px;
        margin-left: 10px;
      }
    }

    @include media(s) {
      &__item {
        position: relative;
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 0;
        img {
          width: 100%;
          max-height: 130px;
          margin-right: 0;
          object-fit: cover;
        }
        &-text {
          position: absolute;
          padding-top: 5px;
          padding-right: 10px;
          padding-left: 10px;
          color: #fff;
          text-shadow: 1px 2px 3px #000;
        }
      }
    }
  }
}
// お知らせ


// アクセス
.access {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../images/bg.png);
  &__inner {
    @include section-ttl;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__content {
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 84px;
    margin-bottom: 69px;
    display: flex;
    justify-content: center;

    &__text {
      margin-left: 83px;
      padding-top: 20px - 8px;
      font-size: 16px;
      line-height: 2;
      span {
        font-weight: bold;
        margin-bottom: 8px;
      }
      p {
        margin-bottom: 8px;
      }
    }
  }

  .google-map {
    padding-right: 4px;

    @include media(m) {
      padding-right: 0;
      width: 600px;
      height: 400px;
    }
    @include media(s) {
      width: 340px;
      height: 340px;
    }
  }


  @include media(m) {
    &__inner {
      padding-right: 5px;
      padding-left: 5px;
    }
    &__content {
      flex-direction: column;
      margin-top: 60px;
      margin-bottom: 60px;
      img {
        width: 100%;
      }
      &__text {
        margin-left: 0;
      }
    }
  }
}
// アクセス


// フッター
.footer__bg {
  background-image: url(../images/footer-bg.png);
}
.footer {
  &__inner {
    margin-right: auto;
    margin-left: auto;
    padding-top: 64px;
    padding-bottom: 61px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    writing-mode: vertical-rl;
    &__item {
      font-size: 18px;
      a {
        color: #000;
        border: none;
        letter-spacing: 14px;
      }
      &:nth-child(2) {
        margin-right: 34px;
        margin-left: 34px;
      }
    }
  }

  &__logo {
    text-align: center;
    margin-top: 82px;
    &__ttl {
      font-size: 32px;
      margin-top: 20px;
    }
    @include media(m) {
      margin-top: 30px;
    }
  }

  &__address {
    display: flex;
    padding-left: 2px;
    margin-top: 72px;
    .yubin {
      margin-right: 21px;
    }
    @include media(m) {
      margin-top: 30px;
      .yubin {
        margin-right: 15px;
      }
    }
  }
  
  &__connecting {
    display: flex;
    padding-left: 5px;
    margin-top: 23px;
    .tel {
      margin-right: 20px;
    }
  }
}
.copyright {
  height: 60px;
  text-align: center;
  background-color: #000;
  small {
    color: #fff;
    line-height: 60px;
    font-size: 12px;
  }
}
// フッター



// サブヘッダー
.sub-header {
  position: fixed;
  width: 100%;
  display: none;
  background-color: #fff;
  z-index: 1000;
  &__inner {
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }
  &__logo {
    display: flex;
    align-items: center;
    h1 {
      font-size: 32px;
      margin-left: 15px;
    }
  }

  &__nav {
    display: flex;
    margin-left: 120px;
    &__item {
      display: flex;
    }
    &:nth-child(2) li {
      margin-right: 30px;
    }
  }

  .btn-modal {
    margin-left: auto;
    color: #fff;
    background: #978F10;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 19px;
    padding-bottom: 19px;
    p {
      margin-left: 10px;
    }
  }

  .hamburger {
    @include hamburgerMenu;
    span {
      background: #000;
    }
  }

  @include media(m) {
    &__inner {
      height: 60px;
    }
    &__logo h1 {
      font-size: 28px;
      margin-left: 10px;      
    }
    &__nav {
      margin-left: 50px;
      &:nth-child(2) li {
        margin-right: 15px;
      }
    }
    .btn-modal {
      width: 150px;
      padding-top: 12px;
      padding-bottom: 12px;
      p {
        margin-left: 10px;
      }
    }
  }
  @include media(s) {
    img {
      width: 20px;
    }
    &__logo h1 {
      font-size: 22px;
      margin-left: 5px;      
    }
    .sub-header__nav {
      display: none;
    }
    .btn-modal {
      width: 120px;
      padding-top: 10px;
      padding-bottom: 10px;
      p {
        margin-left: 5px;
      }
    }
  }
}
// サブヘッダー

// サブビジュアル
.sv {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  &__inner {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__heading {
    color: #fff;
    font-size: 34px;
  }

  @include media(m) {
    &__inner {
      height: 350px;
    }
  }
  @include media(s) {
    &__inner {
      height: 250px;
    }
    &__heading {
      font-size: 28px;
    }
  }
}
// サブビジュアル

// パンくず
.breadcrumb {
  display: flex;
}
// パンくず

// サブコンテンツ
.sub-contents {
  padding-top: 37px;
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  @include media(m) {
    max-width: 800px;
  }
  &__message {
    margin-top: 98px - 8px;
    text-align: center;
    font-size: 16px;
    line-height: 2;
  }

  .box {
    padding-top: 70px;
    padding-bottom: 66px;
    &__content {
      width: 100%;
      position: relative;
      margin-bottom: 222px;
      &__text {
        background-image: url(../images/bg.png);
        box-sizing: border-box;
        width: 813px;
        height: 381px;
        padding-top: 60px;
        padding-left: 238px;
        z-index: -1;
        position: absolute;
        top: 57px;
        right: 0;

        h2 {
          font-size: 24px;
        }
        p {
          margin-top: 52px - 8px;
          font-size: 16px;
          line-height: 2;
        }
        .note {
          margin-top: 52px - 8px - 3.5px;
          font-size: 14px;
          line-height: 1.5;
        }
      }

      &:nth-child(2) {
        display: flex;
        justify-content: end;
        .box__content__text {
          padding-left: 60px;
          display: inline-block;
          left: 0;
        }
      }
    }
    @include media(m) {
      &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 100px;
        img {
          z-index: -1;
        }

        &__text {
          width: 100%;
          height: auto;
          padding-top: 20px;
          padding-left: 30px;
          top: 0;
          left: 0;
          background-image: none;
          color: #fff;
          text-shadow: 1px 2px 3px #000;
        }
        &:nth-child(2) {
          img {
            z-index: -1;
          }    
          .box__content__text {
            padding-top: 20px;
            padding-left: 30px;
            top: 0;
            left: 0;
            // background-image: none;
          }      
        }
      }
    }
    @include media(s) {
      padding-top: 50px;
      padding-bottom: 0;
      &__content {
        margin-bottom: 70px;
        &__text {
          padding-top: 10px;
          padding-left: 10px;
          h2 {
            font-size: 18px;
          }
          p {
            font-size: 12px;
            margin-top: 20px;
          }
        }
        &:nth-child(2) {
          .box__content__text {
            padding-top: 10px;
            padding-left: 10px;
            h2 {
              font-size: 18px;
            }
            p {
              margin-top: 20px;
            }
            .note {
              margin-top: 20px;
              font-size: 12px;
              line-height: 1.5;
            }
          }      
        }
      }
    }
  }

  .spa-detail {
    margin-top: 6.5px;
    margin-bottom: 96.5px;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    padding-top: 95.5px;
    padding-bottom: 74px;
    &__inner {
      margin-right: auto;
      margin-left: auto;
    }
    &__heading {
      font-size: 26px;
      text-align: center;
      margin-bottom: 51.5px;
    }
    &__table {
      max-width: 880px;
      font-size: 15px;
      line-height: 1.466666667;
      margin-right: auto;
      margin-left: auto;
      &__text {
        border-top: 1px solid #E7E7E7;
        th {
          text-align: left;
          width: 220px;
          font-weight: normal;
        }
        td {
          padding-top: 14px;   
          padding-bottom: 14px;
        }
        &:nth-child(3) {
          border-bottom: 1px solid #E7E7E7;
        }
      }
    }
    @include media(s) {
      padding-top: 30px;
      padding-bottom: 30px;
      margin-bottom: 30px;
      .spa-detail__heading {
        margin-bottom: 30px;
      }
      th {
        width: 100px;
      }
    }
  }
}
// サブコンテンツ










