@charset "UTF-8";
body {
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
  color: #000;
  background: #FFF;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  opacity: 0.6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.top-bg {
  background-image: url(../images/mainbg01.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.room-bg {
  background-image: url(../images/oheya-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.av180 {
  letter-spacing: 0.18em;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.header__inner {
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo h1 {
  font-size: 32px;
  margin-left: 15px;
  color: #FFF;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 120px;
}

.header__nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav__item li > a {
  color: #fff;
}

.header__nav:nth-child(2) li {
  margin-right: 30px;
}

.header .btn-modal {
  margin-left: auto;
  color: #fff;
  background: #978F10;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 19px;
  padding-bottom: 19px;
}

.header .btn-modal p {
  margin-left: 10px;
}

.mv {
  padding-top: 362px;
  padding-right: 508px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 1079px;
  max-width: 100%;
}

.mv__inner {
  max-width: 1920px;
  margin-left: auto;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.mv__heading {
  margin-left: 50px;
}

.mv h2 {
  color: #fff;
  font-size: 32px;
  letter-spacing: 8px;
}

.media-contents {
  padding-top: 106px;
  padding-bottom: 78px;
}

.media-contents__inner {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.media img {
  width: 1050px;
}

.media__body {
  margin-left: 137px;
}

.media__body__ttl {
  font-size: 36px;
  line-height: 1.7222222;
  margin-top: 19px;
}

.media__body__text {
  font-size: 16px;
  line-height: 2;
  margin-top: 54px;
}

.media__body .btn {
  margin-top: 67px;
  border: solid 1px #707070;
  width: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  padding: 20px 20px;
  font-size: 1rem;
  text-align: center;
}

.media:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 122px;
  margin-bottom: 122px;
}

.media:nth-child(2) .media__body {
  margin-right: 174px;
  margin-left: 0;
}

.media:nth-child(2) .media__body .btn {
  margin-top: 35px;
}

.plan {
  padding-top: 60px;
  padding-bottom: 136px;
  background-image: url(../images/plan-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.plan__inner {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

.plan__inner .section__ttl {
  text-align: center;
}

.plan__inner .section__ttl h2 {
  margin-top: 20px;
  font-size: 36px;
}

.plan .cards {
  margin-top: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.plan .cards .card {
  position: relative;
}

.plan .cards .card h3 {
  font-size: 20px;
  line-height: 1.6;
  margin-top: 26px;
}

.plan .cards .card p {
  font-size: 16px;
  line-height: 2;
  margin-top: 22px;
}

.plan .cards .card:nth-child(1) p {
  position: absolute;
  left: -3px;
}

.plan .cards .card:nth-child(2) {
  margin-right: 94px;
  margin-left: 94px;
}

.news {
  padding-top: 60px;
  padding-bottom: 40px;
}

.news__inner {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

.news__inner .section__ttl {
  text-align: center;
}

.news__inner .section__ttl h2 {
  margin-top: 20px;
  font-size: 36px;
}

.news__tab {
  margin-top: 46px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news__tab li {
  cursor: pointer;
}

.news__tab li:nth-child(1) {
  width: 69px;
  margin-right: 53px;
}

.news__contents {
  margin-top: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 3px;
}

.news__contents__item {
  width: 570px;
  max-height: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F6F6F6;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__contents__item img {
  margin-right: 30px;
}

.news__contents__item p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 2;
}

.news__contents__item:nth-child(odd) {
  margin-right: 46px;
}

.access {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../images/bg.png);
}

.access__inner {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.access__inner .section__ttl {
  text-align: center;
}

.access__inner .section__ttl h2 {
  margin-top: 20px;
  font-size: 36px;
}

.access__content {
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 84px;
  margin-bottom: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.access__content__text {
  margin-left: 83px;
  padding-top: 12px;
  font-size: 16px;
  line-height: 2;
}

.access__content__text span {
  font-weight: bold;
  margin-bottom: 8px;
}

.access__content__text p {
  margin-bottom: 8px;
}

.access .google-map {
  padding-right: 4px;
}

.footer__bg {
  background-image: url(../images/footer-bg.png);
}

.footer__inner {
  margin-right: auto;
  margin-left: auto;
  padding-top: 64px;
  padding-bottom: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.footer__list__item {
  font-size: 18px;
}

.footer__list__item a {
  color: #000;
  border: none;
  letter-spacing: 14px;
}

.footer__list__item:nth-child(2) {
  margin-right: 34px;
  margin-left: 34px;
}

.footer__logo {
  text-align: center;
  margin-top: 82px;
}

.footer__logo__ttl {
  font-size: 32px;
  margin-top: 20px;
}

.footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2px;
  margin-top: 72px;
}

.footer__address .yubin {
  margin-right: 21px;
}

.footer__connecting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5px;
  margin-top: 23px;
}

.footer__connecting .tel {
  margin-right: 20px;
}

.copyright {
  height: 60px;
  text-align: center;
  background-color: #000;
}

.copyright small {
  color: #fff;
  line-height: 60px;
  font-size: 12px;
}

.sub-header {
  background-color: #fff;
}

.sub-header__inner {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  color: #000;
}

.sub-header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
}

.sub-header__inner {
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-header__logo h1 {
  font-size: 32px;
  margin-left: 15px;
  color: #000;
}

.sub-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 120px;
}

.sub-header__nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-header__nav__item li > a {
  color: #000;
}

.sub-header__nav:nth-child(2) li {
  margin-right: 30px;
}

.sub-header .btn {
  margin-left: auto;
  color: #fff;
  background: #978F10;
  max-width: 170px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  padding: 20px 20px;
  font-size: 1rem;
  text-align: center;
}

.sub-header .btn p {
  margin-left: 10px;
}

.sub-visual__inner {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sub-visual__heading {
  color: #fff;
  font-size: 34px;
}
/*# sourceMappingURL=style.css.map */