@charset "UTF-8";
body {
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
  color: #000;
  background: #FFF;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  opacity: 0.6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.top-bg {
  background-image: url(../images/mainbg01.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.room-bg {
  background-image: url(../images/oheya-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.menu-bg {
  background-image: url(../images/menu-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.spa-bg {
  background-image: url(../images/onsen-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.av180 {
  letter-spacing: 0.18em;
}

.ml6 {
  margin-left: 6px;
}

.ml1 {
  margin-left: 1px;
}

.ml2 {
  margin-left: 2px;
}

.active {
  display: block;
}

* {
  outline: 2px solid blue;
}

.header {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header__inner {
  max-width: 1920px;
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo h1 {
  font-size: 32px;
  margin-left: 15px;
  color: #FFF;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 120px;
}

.header__nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav__item li > a {
  color: #fff;
}

.header__nav:nth-child(2) li {
  margin-right: 30px;
}

.header .hamburger {
  display: none;
}

@media screen and (max-width: 599px) {
  .header .hamburger {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
  }
  .header .hamburger span {
    display: inline-block;
    position: absolute;
    -webkit-transition: all .4s;
    transition: all .4s;
    left: 13px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    width: 25px;
  }
  .header .hamburger span:nth-of-type(1) {
    top: 15px;
  }
  .header .hamburger span:nth-of-type(2) {
    top: 23px;
  }
  .header .hamburger span:nth-of-type(3) {
    top: 32px;
  }
  .header .hamburger__active span:nth-of-type(1) {
    top: 18px;
    left: 12px;
    -webkit-transform: translateY(6px) rotate(-45deg);
            transform: translateY(6px) rotate(-45deg);
    width: 26px;
  }
  .header .hamburger__active span:nth-of-type(2) {
    opacity: 0;
  }
  .header .hamburger__active span:nth-of-type(3) {
    top: 30px;
    left: 12px;
    -webkit-transform: translateY(-6px) rotate(45deg);
            transform: translateY(-6px) rotate(45deg);
    width: 26px;
  }
}

.header .btn-modal {
  margin-left: auto;
  color: #fff;
  background: #978F10;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 19px;
  padding-bottom: 19px;
}

.header .btn-modal p {
  margin-left: 10px;
}

@media screen and (max-width: 1280px) {
  .header__inner {
    height: 60px;
  }
  .header__logo h1 {
    font-size: 28px;
    margin-left: 10px;
  }
  .header__nav {
    margin-left: 50px;
  }
  .header__nav:nth-child(2) li {
    margin-right: 15px;
  }
  .header .btn-modal {
    width: 150px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .header .btn-modal p {
    margin-left: 10px;
  }
}

@media screen and (max-width: 599px) {
  .header img {
    width: 20px;
  }
  .header__logo h1 {
    font-size: 22px;
    margin-left: 5px;
  }
  .header .header__nav {
    display: none;
  }
  .header .btn-modal {
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header .btn-modal p {
    margin-left: 5px;
  }
}

.modal {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #707070;
  z-index: 1000;
}

.modal__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-top: 3px;
}

.modal__contact {
  position: relative;
  width: 550px;
  height: 600px;
  background-color: #fff;
  border: 1px solid #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__contact__close::before, .modal__contact__close::after {
  content: "";
  position: absolute;
  top: 22px;
  right: 20px;
  width: 3px;
  height: 25.5px;
  background-color: #000;
  cursor: pointer;
}

.modal__contact__close::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.modal__contact__close::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.modal__contact__heading {
  margin-top: 29px;
  margin-bottom: 29.5px;
  font-size: 20px;
}

.modal .form {
  width: 429px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  border-top: 1px solid #E7E7E7;
  padding-top: 35.5px;
  padding-bottom: 90px;
}

.modal .form input, .modal .form select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #797878;
  padding-left: 10px;
  height: 32px;
  width: 100%;
  border: 1px solid #E7E7E7;
}

.modal .form__name, .modal .form__mail, .modal .form__plan, .modal .form__date {
  margin-bottom: 14px;
}

.modal .form__name h3, .modal .form__mail h3, .modal .form__plan h3, .modal .form__date h3 {
  margin-bottom: 14px;
}

.modal .form input[type="submit"] {
  margin-top: 50px;
  width: 198px;
  height: 42px;
  border: 1px solid #707070;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.mv {
  max-height: 1079px;
}

.mv__text {
  color: #fff;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 32px;
  letter-spacing: 8px;
  position: absolute;
  top: 362px;
  right: 508px;
  z-index: 10;
}

.mv__text .mv__heading {
  margin-left: 50px;
}

@media screen and (max-width: 1280px) {
  .mv__text {
    top: 250px;
    right: 200px;
    font-size: 28px;
  }
}

@media screen and (max-width: 599px) {
  .mv__text {
    top: 100px;
    right: 70px;
    font-size: 24px;
  }
  .mv__text .mv__heading {
    margin-left: 20px;
  }
}

@-webkit-keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes zoomUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img {
  -webkit-animation: zoomUp 10s linear 0s 1 normal both;
          animation: zoomUp 10s linear 0s 1 normal both;
}

.swiper {
  width: 100%;
  max-width: 1920px;
  height: 1079px;
}

.swiper-slide {
  width: 100%;
  max-width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper img {
  display: block;
}

@media screen and (max-width: 1280px) {
  .swiper {
    height: 800px;
  }
  .swiper img {
    height: 900px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (max-width: 599px) {
  .swiper {
    height: 400px;
  }
  .swiper img {
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.about-us {
  padding-top: 64px;
  background-image: url(../images/bg.png);
  height: 681px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 43px;
}

.about-us__inner {
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.about-us__heading {
  font-size: 28px;
  letter-spacing: 14px;
}

.about-us__heading h2:nth-child(2) {
  margin-top: 85px;
  margin-right: 33px;
}

.about-us__text {
  margin-top: 85px;
  margin-right: 118px;
  margin-left: 118px;
  letter-spacing: 6px;
  text-orientation: upright;
}

.about-us__text > p:nth-child(2) {
  margin-right: 22px;
  margin-left: 22px;
}

.about-us__site-ttl {
  margin-top: 379px;
  font-size: 22px;
  letter-spacing: 10px;
}

@media screen and (max-width: 1280px) {
  .about-us {
    padding-top: 50px;
    max-height: 100%;
  }
  .about-us__inner {
    max-width: 600px;
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }
  .about-us__inner h2:nth-child(2) {
    margin-top: 30px;
    margin-right: 0;
  }
  .about-us__text {
    margin-top: 60px;
    margin-left: 80px;
    margin-right: 0;
    line-height: 1.5;
  }
  .about-us__text > p:nth-child(2) {
    margin-right: 0px;
    margin-left: 0px;
  }
  .about-us__site-ttl {
    margin-top: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (max-width: 599px) {
  .about-us {
    padding-top: 20px;
    padding-left: 20px;
  }
  .about-us__inner {
    max-width: 450px;
  }
  .about-us__heading {
    margin-top: 20px;
    letter-spacing: 1px;
  }
  .about-us__heading h2:nth-child(2) {
    margin-top: 10px;
  }
  .about-us__text {
    margin-top: 40px;
    margin-left: 20px;
    letter-spacing: 4px;
  }
  .about-us__site-ttl {
    margin-top: 70px;
  }
}

.media-contents {
  padding-top: 106px;
  padding-bottom: 78px;
}

.media-contents__inner {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 599px) {
  .media-contents {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.media {
  height: 545px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.media img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.media__body {
  margin-left: 137px;
  margin-right: 10px;
}

.media__body__ttl {
  font-size: 36px;
  line-height: 1.7222222;
  margin-top: 19px;
}

.media__body__text {
  font-size: 16px;
  line-height: 2;
  margin-top: 54px;
}

.media__body .btn {
  margin-top: 67px;
  border: solid 1px #707070;
  width: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  padding: 20px 20px;
  font-size: 1rem;
  text-align: center;
}

.media:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 122px;
  margin-bottom: 122px;
}

.media:nth-child(2) .media__body {
  margin-right: 174px;
  margin-left: 10px;
}

.media:nth-child(2) .media__body .btn {
  margin-top: 35px;
}

@media screen and (max-width: 1600px) {
  .media img {
    max-width: 65%;
  }
  .media__body {
    margin-left: 30px;
  }
  .media:nth-child(2) img {
    max-width: 70%;
  }
  .media:nth-child(2) .media__body {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1280px) {
  .media {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .media img {
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
    max-width: 100%;
    height: 500px;
  }
  .media .media__body {
    margin-left: 50px;
    position: absolute;
    color: #fff;
    text-shadow: 1px 2px 3px #000;
  }
  .media .media__body .btn {
    margin-top: 50px;
    color: #fff;
    width: 200px;
    border: solid 1px #fff;
  }
  .media:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .media:nth-child(2) img {
    max-width: 100%;
  }
  .media:nth-child(2) .media__body {
    margin-right: 0;
    margin-left: 50px;
    position: absolute;
  }
}

@media screen and (max-width: 599px) {
  .media .media__body {
    margin-left: 20px;
  }
  .media .media__body__ttl {
    font-size: 28px;
  }
  .media:nth-child(2) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .media:nth-child(2) .media__body {
    margin-left: 20px;
  }
}

.plan {
  padding-top: 60px;
  padding-bottom: 136px;
  background-image: url(../images/plan-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.plan__inner {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

.plan__inner .section__ttl {
  text-align: center;
}

.plan__inner .section__ttl h2 {
  margin-top: 20px;
  font-size: 36px;
}

@media screen and (max-width: 1280px) {
  .plan__inner .section__ttl h2 {
    font-size: 32px;
  }
}

.plan .cards {
  max-width: 1181px;
  margin-top: 66px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.plan .cards .card h3 {
  font-size: 20px;
  line-height: 1.6;
  margin-top: 26px;
}

.plan .cards .card p {
  font-size: 16px;
  line-height: 2;
  margin-top: 22px;
}

.plan .cards .card:nth-child(1) p {
  margin-left: -3px;
}

@media screen and (max-width: 1280px) {
  .plan .cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .plan .cards__item {
    margin-top: 30px;
  }
}

@media screen and (max-width: 599px) {
  .plan .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.news {
  padding-top: 60px;
  padding-bottom: 40px;
}

.news__inner {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

.news__inner .section__ttl {
  text-align: center;
}

.news__inner .section__ttl h2 {
  margin-top: 20px;
  font-size: 36px;
}

@media screen and (max-width: 1280px) {
  .news__inner .section__ttl h2 {
    font-size: 32px;
  }
}

.news__tab {
  margin-top: 46px;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news__tab li {
  cursor: pointer;
  text-align: center;
}

.news__tab li:nth-child(1) {
  width: 69px;
  margin-right: 53px;
}

.news .tab-active {
  border-bottom: 1px solid #000;
}

.news__contents {
  margin-top: 49px;
  max-width: 1186px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 3px;
  margin-right: auto;
  margin-left: auto;
}

.news__contents__item {
  width: 570px;
  max-height: 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F6F6F6;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news__contents__item img {
  margin-right: 30px;
}

.news__contents__item p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 2;
}

@media screen and (max-width: 1280px) {
  .news__contents {
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news__contents__item {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 599px) {
  .news__contents__item {
    position: relative;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
  .news__contents__item img {
    width: 100%;
    max-height: 130px;
    margin-right: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .news__contents__item-text {
    position: absolute;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    color: #fff;
    text-shadow: 1px 2px 3px #000;
  }
}

.access {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../images/bg.png);
}

.access__inner {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.access__inner .section__ttl {
  text-align: center;
}

.access__inner .section__ttl h2 {
  margin-top: 20px;
  font-size: 36px;
}

@media screen and (max-width: 1280px) {
  .access__inner .section__ttl h2 {
    font-size: 32px;
  }
}

.access__content {
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 84px;
  margin-bottom: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.access__content__text {
  margin-left: 83px;
  padding-top: 12px;
  font-size: 16px;
  line-height: 2;
}

.access__content__text span {
  font-weight: bold;
  margin-bottom: 8px;
}

.access__content__text p {
  margin-bottom: 8px;
}

.access .google-map {
  padding-right: 4px;
}

@media screen and (max-width: 1280px) {
  .access .google-map {
    padding-right: 0;
    width: 600px;
    height: 400px;
  }
}

@media screen and (max-width: 599px) {
  .access .google-map {
    width: 340px;
    height: 340px;
  }
}

@media screen and (max-width: 1280px) {
  .access__inner {
    padding-right: 5px;
    padding-left: 5px;
  }
  .access__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .access__content img {
    width: 100%;
  }
  .access__content__text {
    margin-left: 0;
  }
}

.footer__bg {
  background-image: url(../images/footer-bg.png);
}

.footer__inner {
  margin-right: auto;
  margin-left: auto;
  padding-top: 64px;
  padding-bottom: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.footer__list__item {
  font-size: 18px;
}

.footer__list__item a {
  color: #000;
  border: none;
  letter-spacing: 14px;
}

.footer__list__item:nth-child(2) {
  margin-right: 34px;
  margin-left: 34px;
}

.footer__logo {
  text-align: center;
  margin-top: 82px;
}

.footer__logo__ttl {
  font-size: 32px;
  margin-top: 20px;
}

@media screen and (max-width: 1280px) {
  .footer__logo {
    margin-top: 30px;
  }
}

.footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2px;
  margin-top: 72px;
}

.footer__address .yubin {
  margin-right: 21px;
}

@media screen and (max-width: 1280px) {
  .footer__address {
    margin-top: 30px;
  }
  .footer__address .yubin {
    margin-right: 15px;
  }
}

.footer__connecting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 5px;
  margin-top: 23px;
}

.footer__connecting .tel {
  margin-right: 20px;
}

.copyright {
  height: 60px;
  text-align: center;
  background-color: #000;
}

.copyright small {
  color: #fff;
  line-height: 60px;
  font-size: 12px;
}

.sub-header {
  position: fixed;
  width: 100%;
  display: none;
  background-color: #fff;
  z-index: 1000;
}

.sub-header__inner {
  height: 80px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sub-header__logo h1 {
  font-size: 32px;
  margin-left: 15px;
}

.sub-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 120px;
}

.sub-header__nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-header__nav:nth-child(2) li {
  margin-right: 30px;
}

.sub-header .btn-modal {
  margin-left: auto;
  color: #fff;
  background: #978F10;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 19px;
  padding-bottom: 19px;
}

.sub-header .btn-modal p {
  margin-left: 10px;
}

.sub-header .hamburger {
  display: none;
}

@media screen and (max-width: 599px) {
  .sub-header .hamburger {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
  }
  .sub-header .hamburger span {
    display: inline-block;
    position: absolute;
    -webkit-transition: all .4s;
    transition: all .4s;
    left: 13px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    width: 25px;
  }
  .sub-header .hamburger span:nth-of-type(1) {
    top: 15px;
  }
  .sub-header .hamburger span:nth-of-type(2) {
    top: 23px;
  }
  .sub-header .hamburger span:nth-of-type(3) {
    top: 32px;
  }
  .sub-header .hamburger__active span:nth-of-type(1) {
    top: 18px;
    left: 12px;
    -webkit-transform: translateY(6px) rotate(-45deg);
            transform: translateY(6px) rotate(-45deg);
    width: 26px;
  }
  .sub-header .hamburger__active span:nth-of-type(2) {
    opacity: 0;
  }
  .sub-header .hamburger__active span:nth-of-type(3) {
    top: 30px;
    left: 12px;
    -webkit-transform: translateY(-6px) rotate(45deg);
            transform: translateY(-6px) rotate(45deg);
    width: 26px;
  }
}

.sub-header .hamburger span {
  background: #000;
}

@media screen and (max-width: 1280px) {
  .sub-header__inner {
    height: 60px;
  }
  .sub-header__logo h1 {
    font-size: 28px;
    margin-left: 10px;
  }
  .sub-header__nav {
    margin-left: 50px;
  }
  .sub-header__nav:nth-child(2) li {
    margin-right: 15px;
  }
  .sub-header .btn-modal {
    width: 150px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .sub-header .btn-modal p {
    margin-left: 10px;
  }
}

@media screen and (max-width: 599px) {
  .sub-header img {
    width: 20px;
  }
  .sub-header__logo h1 {
    font-size: 22px;
    margin-left: 5px;
  }
  .sub-header .sub-header__nav {
    display: none;
  }
  .sub-header .btn-modal {
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .sub-header .btn-modal p {
    margin-left: 5px;
  }
}

.sv {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

.sv__inner {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sv__heading {
  color: #fff;
  font-size: 34px;
}

@media screen and (max-width: 1280px) {
  .sv__inner {
    height: 350px;
  }
}

@media screen and (max-width: 599px) {
  .sv__inner {
    height: 250px;
  }
  .sv__heading {
    font-size: 28px;
  }
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-contents {
  padding-top: 37px;
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
}

@media screen and (max-width: 1280px) {
  .sub-contents {
    max-width: 800px;
  }
}

.sub-contents__message {
  margin-top: 90px;
  text-align: center;
  font-size: 16px;
  line-height: 2;
}

.sub-contents .box {
  padding-top: 70px;
  padding-bottom: 66px;
}

.sub-contents .box__content {
  width: 100%;
  position: relative;
  margin-bottom: 222px;
}

.sub-contents .box__content__text {
  background-image: url(../images/bg.png);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 813px;
  height: 381px;
  padding-top: 60px;
  padding-left: 238px;
  z-index: -1;
  position: absolute;
  top: 57px;
  right: 0;
}

.sub-contents .box__content__text h2 {
  font-size: 24px;
}

.sub-contents .box__content__text p {
  margin-top: 44px;
  font-size: 16px;
  line-height: 2;
}

.sub-contents .box__content__text .note {
  margin-top: 40.5px;
  font-size: 14px;
  line-height: 1.5;
}

.sub-contents .box__content:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.sub-contents .box__content:nth-child(2) .box__content__text {
  padding-left: 60px;
  display: inline-block;
  left: 0;
}

@media screen and (max-width: 1280px) {
  .sub-contents .box__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 100px;
  }
  .sub-contents .box__content img {
    z-index: -1;
  }
  .sub-contents .box__content__text {
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-left: 30px;
    top: 0;
    left: 0;
    background-image: none;
    color: #fff;
    text-shadow: 1px 2px 3px #000;
  }
  .sub-contents .box__content:nth-child(2) img {
    z-index: -1;
  }
  .sub-contents .box__content:nth-child(2) .box__content__text {
    padding-top: 20px;
    padding-left: 30px;
    top: 0;
    left: 0;
  }
}

@media screen and (max-width: 599px) {
  .sub-contents .box {
    padding-top: 50px;
    padding-bottom: 0;
  }
  .sub-contents .box__content {
    margin-bottom: 70px;
  }
  .sub-contents .box__content__text {
    padding-top: 10px;
    padding-left: 10px;
  }
  .sub-contents .box__content__text h2 {
    font-size: 18px;
  }
  .sub-contents .box__content__text p {
    font-size: 12px;
    margin-top: 20px;
  }
  .sub-contents .box__content:nth-child(2) .box__content__text {
    padding-top: 10px;
    padding-left: 10px;
  }
  .sub-contents .box__content:nth-child(2) .box__content__text h2 {
    font-size: 18px;
  }
  .sub-contents .box__content:nth-child(2) .box__content__text p {
    margin-top: 20px;
  }
  .sub-contents .box__content:nth-child(2) .box__content__text .note {
    margin-top: 20px;
    font-size: 12px;
    line-height: 1.5;
  }
}

.sub-contents .spa-detail {
  margin-top: 6.5px;
  margin-bottom: 96.5px;
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
  padding-top: 95.5px;
  padding-bottom: 74px;
}

.sub-contents .spa-detail__inner {
  margin-right: auto;
  margin-left: auto;
}

.sub-contents .spa-detail__heading {
  font-size: 26px;
  text-align: center;
  margin-bottom: 51.5px;
}

.sub-contents .spa-detail__table {
  max-width: 880px;
  font-size: 15px;
  line-height: 1.466666667;
  margin-right: auto;
  margin-left: auto;
}

.sub-contents .spa-detail__table__text {
  border-top: 1px solid #E7E7E7;
}

.sub-contents .spa-detail__table__text th {
  text-align: left;
  width: 220px;
  font-weight: normal;
}

.sub-contents .spa-detail__table__text td {
  padding-top: 14px;
  padding-bottom: 14px;
}

.sub-contents .spa-detail__table__text:nth-child(3) {
  border-bottom: 1px solid #E7E7E7;
}

@media screen and (max-width: 599px) {
  .sub-contents .spa-detail {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .sub-contents .spa-detail .spa-detail__heading {
    margin-bottom: 30px;
  }
  .sub-contents .spa-detail th {
    width: 100px;
  }
}
/*# sourceMappingURL=style.css.map */