@import "_mixin";

// ============================================
// ベース
// ============================================
body {
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
  color: #000;
  background:#FFF;
}

ul {
  list-style: none;
}

a {
	text-decoration: none;
  color: #000;
}
a:hover {
  opacity: 0.6;
  transition: 0.5s;
}

img {
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}


// モジュール
.top-bg {
  background-image: url(../images/mainbg01.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.room-bg {
  background-image: url(../images/oheya-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.menu-bg {
  background-image: url(../images/menu-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.spa-bg {
  background-image: url(../images/onsen-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.av180 {
  letter-spacing: 0.18em;
}
.ml6 {
  margin-left: 6px;
}
.ml1 {
  margin-left: 1px;
}
.ml2 {
  margin-left: 2px;
}

.active {
  display: block;
}

// ========================================================================
// 変数
// ========================================================================
$font-Color: #000;


// ============================================
// メディアクエリ
// ============================================
$breakpoints: (
  m: "screen and (max-width: 1100px)", //タブレット
  s: "screen and (max-width: 599px)",  //スマートフォン
);
@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// ヘッダー
.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  &__inner {
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }
  &__logo {
    display: flex;
    align-items: center;
    h1 {
      font-size: 32px;
      margin-left: 15px;
      color: #FFF;
    }
  }

  &__nav {
    display: flex;
    margin-left: 120px;
    &__item {
      display: flex;
      li > a {
        color: #fff;
      }
    }
    &:nth-child(2) li {
      margin-right: 30px;
    }
  }

  .btn-modal {
    margin-left: auto;
    color: #fff;
    background: #978F10;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 19px;
    padding-bottom: 19px;
    p {
      margin-left: 10px;
    }
  }
}
// ヘッダー

// メインビジュアル

.mv {
  height: 1079px;
  overflow: hidden;
  // max-width: 100%;
  &__inner {
    overflow: hidden;
    // max-width: 1920px;
    // margin-left: auto;
  }
  &__text {
    overflow: hidden;
    padding-top: 362px;
    // padding-left: 1293px;
    color: #fff;
    font-size: 32px;
    letter-spacing: 8px;
    position: absolute;
    writing-mode: vertical-rl;
    z-index: 10;
    .mv__heading {
      margin-left: 50px;
    }
  }
}



// swiper
@keyframes zoomUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.15);
  }
}
.swiper-slide-active .slide-img,
.swiper-slide-duplicate-active .slide-img,
.swiper-slide-prev .slide-img{
  animation: zoomUp 10s linear 0s 1 normal both;  
}
.swiper {
  width: 100%;
  // max-width: 500px;
  overflow: hidden;
  height: 1079px;
  &-slide {
    overflow: hidden;
  }
}


//  imgタグだと下に隙間ができるのでblockに。
.slide-img img{
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
}
// swiper

// メインビジュアル

// アバウト
.about-us {  //119 /2 = 60
  padding-top: 64px;
  background-image: url(../images/bg.png);
  height: 681px;
  box-sizing: border-box;
  padding-left: 43px;
  &__inner {
    max-width: 1180px;
    margin-right: auto;
    margin-left: auto;
    writing-mode: vertical-rl;
  }
  &__heading {
    font-size: 28px;
    letter-spacing: 14px;
    h2:nth-child(2) {
      margin-top: 85px;
      margin-right: 33px;
    }
  }

  &__text {
    margin-top: 85px;
    margin-right: 118px;
    margin-left: 118px;
    letter-spacing: 6px;
    text-orientation: upright;
    &>p:nth-child(2) {
      margin-right: 22px;
      margin-left: 22px;
    }
  }
  span {
    margin-top: 379px;
    font-size: 22px;
    letter-spacing: 10px;
  }


}
// アバウト

// メディア
.media-contents {
  padding-top: 106px;
  padding-bottom: 78px;
  &__inner {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
  }
}

.media {
  display: flex;
  img {
    width: 1050px;
  }
  &__body {
    margin-left: 137px;
    &__ttl {
      font-size: 36px;
      line-height: 1.7222222;
      margin-top: 32px - 13px;
    }
    &__text {
      font-size: 16px;
      line-height: 2;
      margin-top: 75px - 13px - 8px;
    }
    .btn {
      margin-top: 75px - 8px;
      border: solid 1px #707070;
      width: 200px;
      @include btnSet;
    }
  }

  &:nth-child(2) {
    flex-direction: row-reverse;
    margin-top: 122px;
    margin-bottom: 122px;
    .media__body {
      margin-right: 174px;
      margin-left: 0;
      .btn {
        margin-top: 43px - 8px;
      }
    }
  }


}
// メディア

// プラン
.plan {
  padding-top: 60px;
  padding-bottom: 144px - 8px;
  background-image: url(../images/plan-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &__inner {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    @include section-ttl;
  }

  .cards {
    margin-top: 66px;
    display: flex;
    justify-content: center;

    .card {
      position: relative;
      h3 {
        font-size: 20px;
        line-height: 1.6;
        margin-top: 32px - 6px;
      }
      p {
        font-size: 16px;
        line-height: 2;
        margin-top: 36px - 6px - 8px;
      }
      &:nth-child(1) p {
        position: absolute;
        left: -3px;
      }
      &:nth-child(2) {
        margin-right: 94px;
        margin-left: 94px;
      }
    }
  }
}
// プラン

// お知らせ
.news {
  padding-top: 60px;
  padding-bottom: 40px;
  &__inner {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    @include section-ttl;
  }

  &__tab {
    margin-top: 46px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    li {
      cursor: pointer;
      text-align: center;
    }
    li:nth-child(1) {
      width: 69px;
      margin-right: 53px;
    }
  }

  .tab-active {
    border-bottom: 1px solid #000;
  }

  &__contents {
    margin-top: 49px;
    max-width: 1186px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 3px;
    margin-right: auto;
    margin-left: auto;
    &__item {
      width: 570px;
      max-height: 130px;
      box-sizing: border-box;
      background-color: #F6F6F6;
      padding-top: 15px;
      padding-left: 10px;
      padding-bottom: 15px;
      margin-bottom: 20px;
      display: flex;
      img {
        margin-right: 30px;
      }
      p {
        margin-top: 10px;
        font-size: 16px;
        line-height: 2;
      }
    }
  }
}
// お知らせ

// アクセス
.access {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../images/bg.png);
  &__inner {
    @include section-ttl;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__content {
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 84px;
    margin-bottom: 69px;
    display: flex;
    justify-content: center;

    &__text {
      margin-left: 83px;
      padding-top: 20px - 8px;
      font-size: 16px;
      line-height: 2;
      span {
        font-weight: bold;
        margin-bottom: 8px;
      }
      p {
        margin-bottom: 8px;
      }
    }
  }

  .google-map {
    padding-right: 4px;
  }
}
// アクセス

// フッター
.footer__bg {
  background-image: url(../images/footer-bg.png);
}
.footer {
  &__inner {
    margin-right: auto;
    margin-left: auto;
    padding-top: 64px;
    padding-bottom: 61px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    writing-mode: vertical-rl;
    &__item {
      font-size: 18px;
      a {
        color: #000;
        border: none;
        letter-spacing: 14px;
      }
      &:nth-child(2) {
        margin-right: 34px;
        margin-left: 34px;
      }
    }
  }

  &__logo {
    text-align: center;
    margin-top: 82px;
    &__ttl {
      font-size: 32px;
      margin-top: 20px;
    }
  }

  &__address {
    display: flex;
    padding-left: 2px;
    margin-top: 72px;
    .yubin {
      margin-right: 21px;
    }
  }
  
  &__connecting {
    display: flex;
    padding-left: 5px;
    margin-top: 23px;
    .tel {
      margin-right: 20px;
    }
  }
}
.copyright {
  height: 60px;
  text-align: center;
  background-color: #000;
  small {
    color: #fff;
    line-height: 60px;
    font-size: 12px;
  }
}
// フッター










// サブヘッダー
.sub-header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  &__inner {
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }
  &__logo {
    display: flex;
    align-items: center;
    h1 {
      font-size: 32px;
      margin-left: 15px;
    }
  }

  &__nav {
    display: flex;
    margin-left: 120px;
    &__item {
      display: flex;
    }
    &:nth-child(2) li {
      margin-right: 30px;
    }
  }

  .btn-modal {
    margin-left: auto;
    color: #fff;
    background: #978F10;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 19px;
    padding-bottom: 19px;
    p {
      margin-left: 10px;
    }
  }
}
// サブヘッダー

// サブビジュアル
.sub-visual {
  // margin-top: 80px;
  &__inner {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__heading {
    color: #fff;
    font-size: 34px;
  }
}
// サブビジュアル

// パンくず
.breadcrumb {
  display: flex;
}
// パンくず

// サブコンテンツ
.sub-contents {
  padding-top: 37px;
  max-width: 1180px;
  margin-right: auto;
  margin-left: auto;
  &__message {
    margin-top: 98px - 8px;
    text-align: center;
    font-size: 16px;
    line-height: 2;
  }

  .box {
    padding-top: 70px;
    padding-bottom: 66px;
    &__content {
      position: relative;
      margin-bottom: 222px;
      &__text {
        background-image: url(../images/bg.png);
        box-sizing: border-box;
        width: 813px;
        height: 381px;
        padding-top: 60px;
        padding-left: 238px;
        z-index: -1;
        position: absolute;
        top: 57px;
        right: 0;

        h2 {
          font-size: 24px;
        }
        p {
          margin-top: 52px - 8px;
          font-size: 16px;
          line-height: 2;
        }
        .note {
          margin-top: 52px - 8px - 3.5px;
          font-size: 14px;
          line-height: 1.5;
        }
      }

      &:nth-child(2) {
        display: flex;
        justify-content: end;
        .box__content__text {
          padding-left: 60px;
          left: 0;
        }
      }
    }
  }

  .spa-detail {
    margin-top: 6.5px;
    margin-bottom: 96.5px;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    padding-top: 95.5px;
    padding-bottom: 74px;
    &__inner {
      margin-right: auto;
      margin-left: auto;
    }
    &__heading {
      font-size: 26px;
      text-align: center;
      margin-bottom: 51.5px;
    }
    &__table {
      width: 880px;
      font-size: 15px;
      line-height: 1.466666667;
      margin-right: auto;
      margin-left: auto;
      &__text {
        border-top: 1px solid #E7E7E7;
        th {
          text-align: left;
          width: 220px;
          font-weight: normal;
        }
        td {
          padding-top: 14px;   
          padding-bottom: 14px;
        }
        &:nth-child(3) {
          border-bottom: 1px solid #E7E7E7;
        }
      }
    }
  }
  
}
// サブコンテンツ










