@import "_mixin";

// ============================================
// ベース
// ============================================
body {
  font-family: “Times New Roman”, “游明朝”, “Yu Mincho”, “游明朝体”, “YuMincho”, “ヒラギノ明朝 Pro W3”, “Hiragino Mincho Pro”, “HiraMinProN-W3”, “HGS明朝E”, “ＭＳ Ｐ明朝”, “MS PMincho”, serif;
  color: #000;
  background:#FFF;
}

ul {
  list-style: none;
}

a {
	text-decoration: none;
  color: #000;
}
a:hover {
  opacity: 0.6;
  transition: 0.5s;
}

img {
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}


// モジュール
.top-bg {
  background-image: url(../images/mainbg01.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.av180 {
  letter-spacing: 0.18em;
}


// ========================================================================
// 変数
// ========================================================================
$font-color: #000;

// ============================================
// メディアクエリ
// ============================================
$breakpoints: (
  m: "screen and (max-width: 1100px)", //タブレット
  s: "screen and (max-width: 599px)",  //スマートフォン
);
@mixin media($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}


.header {
  background: rgba(0, 0, 0, 0);
  position: fixed;
  color: #fff;
  &__inner {
    max-width: 1920px;
    height: 80px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  &__logo {
    display: flex;
    align-items: center;
    h1 {
      margin-left: 15px;
    }
  }

  &__nav {
    display: flex;
    &__item {
      display: flex;
      align-self: flex-end;
      li > a {
        color: #fff;
      }
    }
  }

}

.mv {
  height: 1079px;
  max-width: 100%;
}






// プラン
.plan {
  padding-top: 60px;
  padding-bottom: 144px - 8px;
  background-image: url(../images/plan-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &__inner {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    @include section-ttl;
  }

  .cards {
    margin-top: 66px;
    display: flex;
    justify-content: center;

    .card {
      position: relative;
      h3 {
        font-size: 20px;
        line-height: 1.6;
        margin-top: 32px - 6px;
      }
      p {
        font-size: 16px;
        line-height: 2;
        margin-top: 36px - 6px - 8px;
      }
      &:nth-child(1) p {
        position: absolute;
        left: -3px;
      }
      &:nth-child(2) {
        margin-right: 94px;
        margin-left: 94px;
      }
    }
  }
}
// プラン









.footer__bg {
  background-image: url(../images/footer-bg.png);
}
.footer {
  &__inner {
    margin-right: auto;
    margin-left: auto;
    padding-top: 64px;
    padding-bottom: 61px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    writing-mode: vertical-rl;
    &__item {
      font-size: 18px;
      a {
        color: #000;
        border: none;
        letter-spacing: 14px;
      }
      &:nth-child(2) {
        margin-right: 34px;
        margin-left: 34px;
      }
    }
  }

  &__logo {
    text-align: center;
    margin-top: 82px;
    &__ttl {
      font-size: 32px;
      margin-top: 20px;
    }
  }

  &__address {
    display: flex;
    padding-left: 2px;
    margin-top: 72px;
    .yubin {
      margin-right: 21px;
    }
  }
  
  &__connecting {
    display: flex;
    padding-left: 5px;
    margin-top: 23px;
    .tel {
      margin-right: 20px;
    }
  }
}
.copyright {
  height: 60px;
  text-align: center;
  background-color: #000;
  small {
    color: #fff;
    line-height: 60px;
    font-size: 12px;
  }
}
